body {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

.cont{
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;   
    margin: 40px;
    font-weight: bold;
    font-size: 21px; 
}

.cont:hover {
    transform: scale(1.4);
}